/** @format */
.container {
  margin: auto;
  width: 400px;
  height: 400px;
  display: grid;
  text-align: center;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 5px;
}

.container a {
  border: 1px solid black;
  text-align: center;
  font-size: 80px;
  text-decoration: none;
  color: rgb(56, 56, 56);
}
.btn-reset {
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px;
  background: rgb(146, 148, 148);
}
