/** @format */
.board {
  margin: auto;
  width: 400px;
  height: 400px;
  display: grid;
  text-align: center;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 5px;
}

.board a {
  border: 1px solid black;
  text-align: center;
  font-size: 80px;
  text-decoration: none;
  color: rgb(56, 56, 56);
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
}

.winning-message button {
  display: none;
  margin-top: 20px;
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}
.winning-message button .show {
  display: flex;
}
.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
.winning-message.show {
  display: flex;
}
